{% extends "base.html" %}

{% block content %}
<div class="container mt-5">

    <h1>Welcome to the Music Library Manager</h1>
    <p>
        Here you can manage your music library, view tracks, and edit metadata.
    </p>
    {% if current_user.username %}
    <h2>Your Tracks - ({{ tracks|length }})</h2>
    
    <form action="{{ url_for('bulk_action') }}" method="post">
        <ul>
            {% for track in tracks %}
            <li>
                <input type="checkbox" name="selected_tracks" value="{{ track.id }}">
                <span>{{ track.title }} - {{ track.artist.name }} - {{ track.genre }}</span>
                <a href="{{ url_for('edit_metadata', track_id=track.id) }}" class="btn btn-secondary">Edit Track</a>
    
            </li>
            {% endfor %}
        </ul>
        <p></p>
        <p id="selectedCount">0 tracks selected</p>
        <input type="submit" name="action" value="Bulk Edit" class="btn btn-secondary">
        <input type="submit" name="action" value="Bulk Delete" class="btn btn-danger">
    </form>
    {% else %}
    <h3>Please login to mangage your library.</h3>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        function updateCount() {
            let count = $('input[name="selected_tracks"]:checked').length;
            $('#selectedCount').text(count + ' tracks selected');
        }

        $('input[name="selected_tracks"]').on('change', updateCount);
    });
</script>
{% endblock %}